<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
<servlet-name>sss</servlet-name>
<servlet-class>project1.check</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>sss</servlet-name>
<url-pattern>/id</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>project1.promy</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>q3w</servlet-name>
<servlet-class>project1.welcome</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>q3w</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<session-config>
	<session-timeout>1</session-timeout>
</session-config>
</web-app>